@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: olive 1px solid;
    width: 100%;
}
/*--------------HEADER--------------*/

.fas{
    display: block;
    width: 30px;
    margin-left: 0.4rem;
    margin-top: 0.6rem;
    font-size: 0.8rem;
}

.fa-chevron-down{
    position: absolute;
    display: inline;
    align-content: center;
}

body {
    font-family: 'DM Mono', monospace;
}
header {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    background-color: rgb(207, 207, 207);

}

.information {
    flex: 85%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.information div{
    width: auto;
    padding: 0 0.5% 0 0.5%;
    transition: all .2s ease-in-out;
}

.information .topic:hover{
    transform: scale(1.15);
    color: #8A2908;
}

.information a:hover{
    color: #8A2908;
}

.topic{
    position: relative;
    display: inline;
    margin-right: 2rem;
}

.topic-start{
    font-size: 4rem;
    width: 10rem;
    margin-left: 0.5rem;
}

.information a {
    text-decoration: none;
    color: #000;
}

.contact {
    flex: 15%;
    display: inline-flex;
    text-align: center;
    align-items: center;
    
}
.contact div a{
    transition: all .2s ease-in-out;
    list-style-type: none;
    display: inline;
}

.contact div {
    transition: all .2s ease-in-out;
    padding: 0 0% 0 0%;
}

.contact div:hover {
    transform: scale(1.15);
}

.contact a{
    text-decoration: none;
}
.contact i{
    display: inline;
}

.fab {
    color: black;
}
.fa-facebook-f:hover {
    color: blue;
}
.fa-youtube:hover {
    color: red;
}

.fa-instagram:hover {
    color: rgb(253, 114, 0);
}

.fa-times{
    text-align: center;
}
.menu:hover{
    color: #8A2908;
}

#list-topic{
    position: absolute;
    display: none;
    right: 20px;
    width: 12rem;
    text-align: left;
    font-size: 1rem;
    top: 5rem;
    transition: all .2s ease-in-out;
}

.list-topic-item{
    display: block;
    color: #000;
    text-align: right;
    width: 100%;
    background-color: #8A2908;
    color: #FFF;
    transition: all .2s ease-in-out;
}
.list-topic-item:hover{
    display: block;
    color: #000;
    text-align: right;
    width: 100%;
    background-color: #FFF;
    color: #8A2908;
    
}

.list-topic-item a{
    display: inline-block;
    width: 100%;
    color: #000;
    text-align: right;
    color: #FFF;
    text-decoration: none;
}
.list-topic-item a:hover{
    opacity: 1;
    color: #8A2908;
    background-color: #FFF;
}

.menu{
    margin-right: 1.5rem;
}

#check-menu{
    display: none;
}

#exit-menu{
    display: none;
}

.label-exit-menu{
    display: block;
    width: 100%;
}

/*--------------CONTENT--------------*/
.quick-information{
    display: flex;
    margin: 5% 0 5% 0;
}

.myname{
    flex-direction: row;
    padding: 3rem;
}
.name{
    font-size: 3rem;
    font-weight: bold;
}


.maxim{
    text-align: center;
    margin: auto;
    font-style: italic;
}

.some-info{
    display: flex;
}

.vietnamese-info{
    margin: 0.5rem;
}

.info-title{
    font-weight: bold;
    padding: 1rem;
    font-size: 1.5rem;
}

.info-detail{
    padding: 0 1rem 1rem 1rem;
    text-align: justify;
}

.photo{
    height: 40rem;
    margin-top: 10%;
}

.photo-text{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
}

.photo-slideshow{
    width: 50%;
    text-align: center;
    margin: auto;
}


.video{
    display: flex;
    flex-wrap: wrap;
    background: rgb(209, 150, 150);
    margin-top: 5%;
}
.video-discription-left{
    width: 50%;
    text-align: right;
    margin: auto;
    padding: 0.5rem;
}

.video-discription-right{
    width: 50%;
    text-align: left;
    margin: auto;
    padding: 0.5rem;
}   

.video-discription-title{
    font-weight: bold;
}

.video-youtube-left{
    width: 50%;
    text-align: right;
    height: 15rem;
    padding: 0.5rem;
    align-items: center;
}
.video-youtube-right{
    width: 50%;
    text-align: left;
    height: 15rem;
    padding: 0.5rem;
}
.manage-video-left{
    width: 25rem;
    height: 100%;
    float: right;
    
}

.manage-video-right{
    width: 25rem;
    height: 100%;
}

/*--------------FOOTER--------------*/


@media only screen and (max-width: 600px){
    .some-info{
        flex-direction: column;
    }

    .topic{
        display: none;
    }

    .topic-start{
        font-size: 2.5rem;
    }

    .quick-information{
        flex-direction: column;
    }

    .photo{
        height: 14rem;
    }

    .video-discription-left{
        width: 100%;
    }

    .video-discription-right{
        width: 100%;
    }

    .video-youtube-left{
        width: 100%;
    }

    .video-youtube-right{
        width: 100%;
    }

    .video-discription-detail{
        display: none;
    }

    .information{
        flex: 50%;
    }

    .contact{
        flex: 50%;
    }

    .myname{
        padding: 1rem;
    }

    .name{
        font-size: 2rem;
    }


}